* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey !important;
}

.root {
  min-height: 100vh;
  padding: 10px 10px;
  width: 50%;
  margin: auto;
  background-color: whitesmoke;
}

.container {
  min-height: 80vh;
  padding: 0 10px;
  margin-top: 25px;
}

.chat {
  min-height: 40px;
  border-radius: 5px;
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
}

.upper {
  height: max-content;
  font-size: 15px !important;
  padding: 0 10px;
  font-weight: 600;
  margin-bottom: 5px;
}
.message {
  padding: 0 12px;
}

.left {
  float: left;
  clear: both;
  background-color: wheat;
  margin: 10px 0;
}

.right {
  float: right;
  clear: both;
  background-color: rgb(233, 233, 123);
  margin: 10px 0;
}

.mid {
  margin: auto;
  clear: both;
  width: max-content !important;
  background-color: rgb(243, 223, 223);
  min-height: 20px;
  font-size: 15px;
  margin: 10px auto;
  padding: 0 20px;
  font-weight: 600;
  color: grey;
}

.send {
  height: 60px;
  display: flex;
}
.send input {
  height: 55px;
  width: 80%;
  padding: 5px 20px;
  font-size: 25px;
  outline: none;
}

.send #submit {
  height: 55px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 127, 106);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 35px;
  outline: none;
  border: none;
  margin-left: 5px;
}

.send #submit:hover {
  background-color: tomato;
}
